@font-face {
    font-family: 'Formula1';
    /* src: url('./Formula1-Bold.woff2') format('woff2'),
        url('./Formula1-Bold.woff') format('woff'), */
        src: url('./Formula1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    /* src: url('./Formula1-Regular.woff2') format('woff2'),
        url('./Formula1-Regular.woff') format('woff'), */
        src: url('./Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    /* src: url('./Formula1-Wide.woff2') format('woff2'),
        url('./Formula1-Wide.woff') format('woff'), */
        src: url('./Formula1-Wide.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}