.container-max {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url("/public/images/acceuil-f1.png");
  background-size: cover;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.animated-text {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: white;
  margin-top: 19vh;
  margin-left: 6vw;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Youtuber";
  color: #b61500;
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 105%;
  background-color: #15151e;
  border-left: 2px solid #b61500;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {

  0%,20% {
    content: "My APP";
  }

  21%,40% {
    content: "Tracker";
  }

  41%,60% {
    content: "On Board";
  }

  61%,80% {
    content: "My APP";
  }

  81%,100% {
    content: "On Board";
  }
}

@keyframes typing {

  10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
    width: 0;
  }

  5%,20%,25%,40%,45%,60%,65%,80%,85% {
    width: calc(100% + 8px);
  }
}